.container {
    display: flex;
    flex-direction: row;
    margin: auto;

    @include respond-to(xs) {
        width: 550px;
    }

    @include respond-to(sm) {
        width: 750px;
    }

    @include respond-to(md) {
        width: 970px;
    }

    @include respond-to(lg) {
        width: 1150px;
    }
}
