.container {
    display: flex;
    max-height: 200px;
    margin-bottom: $padding-size;
    margin-right: $padding-size;

    .image {
        flex: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        flex: 3;
        @extend .flex-column-start-start;
        padding-left: $padding-size;
    }

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
}
