{
    "root": true,
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false,
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": 2020
    },
    "settings": { "reacts": { "version": "detect" } },
    "env": { "browser": true, "jest": true, "es2021": true, "node": true },
    "parser": "babel-eslint",
    // "extends": ["airbnb", "prettier", "standard"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended" // Make this the last element so prettier config overrides other formatting rules
    ],
    "plugins": ["react", "prettier", "jsx-a11y"],
    "rules": {
        "linebreak-style": ["error", "unix"],

        "prefer-promise-reject-errors": 0,
        "react/jsx-closing-bracket-location": [1, "tag-aligned"],
        "no-return-assign": 0,

        "indent": ["error", 4, { "SwitchCase": 1, "offsetTernaryExpressions": false }],
        "implicit-arrow-linebreak": "off",
        "comma-dangle": "off",
        "no-trailing-spaces": "off",
        "radix": 0,
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-console": 0,
        // "no-alert": 0,
        "no-unused-vars": [
            "error",
            { "vars": "all", "args": "after-used", "caughtErrors": "none" }
        ],
        "consistent-return": 0,
        "import/order": 0,
        "class-methods-use-this": 0,
        "prefer-destructuring": 1,
        "arrow-body-style": 1,
        "object-curly-newline": 0,
        "dot-notation": 0,
        "prefer-template": 0,
        "semi": 2,
        "eol-last": 2,
        "no-param-reassign": 0,
        // "keyword-spacing": ["error", { "overrides": { "if": { "after": false }, "for": { "after": false }, "while": { "after": false } } }],
        // jsx-a11y
        "jsx-a11y/label-has-associated-control": 0,
        "jsx-a11y/alt-text": 0,
        "jsx-a11y/anchor-is-valid": 0,
        // eslint-plugin-react
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/no-danger": 0,
        "react/forbid-prop-types": 0,
        "react/button-has-type": 0,
        "react/sort-comp": 0,
        "react/jsx-fragments": 0,
        "react/no-did-update-set-state": 0,
        // "react/jsx-key": ["error", { "checkFragmentShorthand": true, "checkKeyMustBeforeSpread": true }],
        "react/jsx-key": 1,
        "react/prop-types": 0,
        "react/destructuring-assignment": 0,
        "react/prefer-stateless-function": 0,
        "react/no-array-index-key": 0,
        "react/jsx-props-no-spreading": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "prettier/prettier": [
            "error",
            // {
            //     "printWidth": 100,
            //     "tabWidth": 4,
            //     "useTabs": false,
            //     "semi": false,
            //     "singleQuote": true,
            //     "quoteProps": "as-needed",
            //     "jsxSingleQuote": false,
            //     "trailingComma": "none",
            //     "bracketSpacing": true,
            //     "jsxBracketSameLine": false,
            //     "arrowParens": "always",
            //     "requirePragma": false,
            //     "insertPragma": false,
            //     "proseWrap": "preserve",
            //     "htmlWhitespaceSensitivity": "css",
            //     "endOfLine": "lf"
            // }
            {
                "semi": true,
                "tabWidth": 4,
                "printWidth": 100,
                "singleQuote": true,
                "bracketSpacing": true,
                "trailingComma": "es5",
                "jsxBracketSameLine": false,
                "htmlWhitespaceSensitivity": "css",
                "endOfLine": "auto"
            }
        ]
    }
}
