.container {
    @extend .flex-column-center-center;
    @extend .section;
    margin-top: 60px;
    padding: 20px;

    .content {
        @extend .responsive-container;
        @extend .flex-row-center-center;
        z-index: 1000;
        color: white;
    }

    .heading {
        flex: 6;
        @extend .flex-column-center-center;
        text-align: center;
    }

    .form {
        flex: 4;
        padding-top: 20px;
        padding: 20px;
        width: 80%;

        .row {
            display: flex;
            margin-bottom: 16px;

            & > * {
                margin: 0 8px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
