.container {
    margin: auto;
    // padding-top: $navbar-height;
    min-height: 500px;
    margin: $padding-size;

    .header {
        display: flex;
        // justify-content: center;
        align-items: center;

        .logo {
            margin-right: $padding-size;
        }

        .type {
            // display: flex;
            text-align: left;

            li {
                display: inline-block;
                padding: 0 10px;
                margin: 5px 0;
                font-weight: bold;
                position: relative;

                &:not(:last-of-type) {
                    border-right: 1px solid black;
                }

                .link {
                    color: black;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    // .header {
    //     // background-color: $primary-color;
    //     padding: $padding-size 0;
    //     font-size: 0.75rem;
    //     display: flex;
    //     // justify-content: flex-end;

    //     .menu {
    //         height: 1rem;
    //         width: 1rem;
    //         margin-right: 3px;
    //     }
    // }

    .banner {
        background-color: $primary-color;
        display: flex;
        padding: $padding-size 0;
        margin: $padding-size 0;
        align-items: center;
        justify-content: center;

        span {
            font-family: 'QuickSand', Arial, Helvetica, sans-serif;
            font-size: 2rem;
            font-weight: 500;
            white-space: nowrap;
            padding-right: 30px;
            color: white;
            // margin-right: auto;
        }
    }

    .content {
        display: flex;
        // margin: $padding-size;

        .sidebar {
            flex: 1;
            min-width: 200px;

            .filtering {
                text-align: center;
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

        .main {
            width: 100%;
            padding-left: $padding-size;
            flex: 5;
            display: grid;
            grid-auto-rows: minmax(400px auto);
            grid-template-columns: repeat(3, 300px);
            gap: $padding-size;

            .product {
                // &:hover {
                //     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                // }

                .image {
                    position: relative;
                    margin-bottom: $padding-size;
                    width: 300px;
                    height: 250px;
                }

                .content {
                    display: block;

                    & > * {
                        margin-bottom: 5px;
                    }

                    .name {
                        font-weight: bold;
                    }

                    .detail {
                        display: flex;

                        div {
                            width: 100px;
                            font-size: 0.9rem;
                            margin-right: auto;
                            font-family: $secondary-font-family;

                            &:after {
                                content: ": ";
                            }
                        }

                        li {
                            text-decoration: none;
                            list-style-type: none;
                            font-size: 0.75rem;
                            font-weight: 500;
                            padding: 2px 4px;
                            background-color: $primary-color;
                            margin-right: 5px;
                            border-radius: 3px;
                            color: white;
                        }
                    }
                }
            }
        }

        // .other {
        //     min-width: 200px;
        //     flex: 2;
        //     display: block;
        // }
    }
}
