// @use './utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'QuickSand', Arial, Helvetica, sans-serif;
    font-weight: 300;
    min-width: 1000px;
    background-color: #f1f2f8;
    /* background-color: white; */
}

button {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
}

input[type='text'],
textarea {
    font-family: 'QuickSand', Arial, Helvetica, sans-serif;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 1rem;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 50px;
}

input {
    height: 50px;
}

textarea {
    height: 100px;
    resize: none;
}
