.container {
    color: white;
    background-color: $primary-color-dark;
    font-size: 0.8rem;
    padding-top: 60px;
    @extend .flex-column-center-center;

    & p {
        line-height: 1.5rem;
    }

    .content {
        @extend .responsive-container;
        @extend .flex-row-start-center;
        padding-bottom: 40px;

        .detail {
            @extend .flex-column-start-start;
            flex: 1;
            padding: 0 15px;

            .contactInfo {
                align-items: center;
                justify-content: center;
                display: grid;
                grid-template-columns: 1fr 10fr;
                grid-auto-rows: 15px;
                grid-gap: 20px 5px;
                height: 30%;
                width: auto;
            }

            .socialMedia {
                display: flex;
                align-items: center;
                padding: 20px 0;

                .socialIcon {
                    margin-right: $padding-size;
                    font-size: 1.2rem;
                    transition: 0.5s ease-in-out;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .footer {
        height: 70px;
        @extend .flex-row-center-center;
    }
}
