.container {
    @extend .flex-column-start-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .title {
        padding-right: $padding-size;
        // margin-top: $padding-size;
        padding-bottom: 5px;
        font-size: 0.85rem;
        width: 100%;
    }

    .checkboxes {
        @extend .flex-row-center-start;
    }
}
